@import susy
@import normalize
@import compass

$textcolor: rgb(32,32,32) 
$bgcolor:   aliceblue


$total-columns      : 24
$article-cols       : 18
$nav-cols           : $total-columns - $article-cols

$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width

#content h1, h2, h3
  color: black
  font-family: "Impact",Georgia,Serif
  font-weight: normal
  margin: 10px 0 5px

#content h4
  font-family: "Courier New", Arial, Serif 
  font-style: italic
  line-height: 100%
  margin: 0px

#content h1
  color: tomato 
  font-size: 2.5em
  margin: 10px 0
  overflow: hidden
  width: 100%

#content
  color: $textcolor
  @include container
  font-family: "Raleway"
  font-style: normal
  font-weight: 200

.seleted
  color: orange


header, footer
  clear: both
  text-align: left

nav
  @include span-columns($nav-cols, $total-columns)
  input[type="search"]
    clear: both
    -webkit-appearance: searchfield
    
  ul 
    padding:    0
    margin:     0
  .btn
    font-size: 1em
  
  ul#tab
    @include span-columns(1, $nav-cols)
    li
      text-align:center
      border-bottom: 1px solid $bgcolor
      border-right:  1px solid $bgcolor
    a
      color: darken($bgcolor, 30%)
      text-decoration: none
      font-size: .8em
  ul#entries
    @include span-columns(5 omega, $nav-cols)
    padding-left:   0
    line-height:    1.25em
    height: 40em
    overflow: scroll

    li
      clear: both
      .image
        @include span-columns(2, 5)
      .info
        @include span-columns(3 omega, 5)
        .name
          margin-top: 0
          margin-bottom: 5px
        .title
          margin-top: 0
          font-size: 75%

      a   
        &:hover 
          color: orange 
        &:link
          color: rgb(32,32,32)
        &:visited
          color: darkgrey 
        &:active
          color: orange

        text-decoration: none

article
  @include span-columns(18 omega, $total-columns)
  #avatar
    @include span-columns(7, 18)

  #details
    @include span-columns(11 omega, 18)

    ul
      list-style-type: none
      margin-top: 5px
      margin-bottom: 10px
      a 
        text-decoration: none



header
  text-align: left
  padding:  0px
  margin:   0px
  border-color: lavender
